/.build
/.swiftpm
/.swiftpm
*.xcuserstate
Example-iOS/TestViewSpacingCapture.xcodeproj/project.xcworkspace/xcuserdata/pkh0225.xcuserdatad/UserInterfaceState.xcuserstate
/Example-iOS/TestViewSpacingCapture.xcodeproj/project.xcworkspace/xcuserdata
Example-iOS/TestViewSpacingCapture.xcodeproj/project.xcworkspace/xcuserdata/pkh0225.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Example-iOS/TestViewSpacingCapture.xcodeproj/project.xcworkspace/xcuserdata/pkh0225.xcuserdatad/UserInterfaceState.xcuserstate
